{% extends "template.html" %}
 {% block conteudo %}
            <table class="table table-striped table-responsive table-bordered">
                <thead class="thead-default">
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Cor</th>
                    <th>Combustível</th>
                    <th>Ano</th>
                </tr>
                </thead>
                <tbody>
                {% for carro in carros %}
                    <tr>
                        <td>{{ carro.marca }}</td>
                        <td>{{ carro.modelo }}</td>
                        <td>{{ carro.cor }}</td>
                        <td>{{ carro.combustivel }}</td>
                        <td>{{ carro.ano }}</td>
                        {% if 'usuario_logado' in session or session['usuario_logado'] != None: %}
                            <td>
                                <a href="{{url_for('editar', id=carro.id )}}" class="btn btn-primary">Editar</a>
                            </td>
                            <td>
                                <a href="{{url_for('deletar', id=carro.id) }}" class="btn btn-danger">Deletar</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
{% endblock %}

